name: Deploy to GitHub Pages
# Taken from https://www.captaincodeman.com/deploy-a-sveltekit-app-to-github-pages
# but modified to use npm.

on:
  # Trigger the workflow every time you push to the `master` branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install Node.js
        uses: actions/setup-node@v6.0.2
        with:
          node-version: 24.13
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0
        with:
          static_site_generator: sveltekit

      - name: Build
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          # This should match the `pages` option in your adapter-static config
          path: 'build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4.0.5
